@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-4">Health Monitor</h1>
            <p>
                O Health Monitor é um sistema web de prontuário dinâmico projetado para avaliar a prioridade de atendimento de pacientes com base em seus sinais vitais. Durante a triagem, o enfermeiro insere manualmente os dados dos sinais vitais, informações do paciente e seus sintomas no sistema.
            </p>

            <p>
                O Health Monitor surge como uma solução vital para aprimorar os atendimentos de pronto-socorro no SUS.
                A simplicidade operacional, com a possibilidade de implementação em um único computador na sala de triagem, destaca-se como uma vantagem adicional.
            </p>
            <!-- Botão -->
            <div class="text-center">
                <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" asp-area="" asp-controller="Paciente" asp-action="CriarPaciente">Novo Prontuario</a>
            </div>
            <br />
            <div class="text-center">
                <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" asp-area="" asp-controller="Medico" asp-action="CriarMedico">Adicionar Novo Médico</a>


                <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" asp-area="" asp-controller="Paciente" asp-action="CriarPaciente">Adicionar Novo Paciente</a>
            </div>

        </div>
    </div>
</div>
